@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Great+Vibes&display=swap');

:root
{
    --cor01: #be6b25;
    --corRodape: #531d0c;


    --fonteRopade: 'Great Vibes';

}

img
{
    max-width: 100%;
    display: inline-block;
    margin: auto;
    
}

body
{
    background-color: #fcf0cb;
    font-family: Arial;
}


header
{
    color: white;
    background-image: url(imagens/rodape.png);
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 600px;
    border-top-left-radius:5px;
    border-top-right-radius: 5px; 
}


/* NAV */
nav.rodape
{
    background-color: #be6b25;
    overflow: hidden;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.74);
}

nav.rodape > a
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    transition-duration: 1s;
    font-weight: bold;
}

.rodape a:hover
{
    text-decoration: underline;
    background-color: #531d0c;
}

.h2
{
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
}

.irmaos
{
    text-align: center;
    background-color: #be6a25dc;
}
div#imagemIrmaos{
    background-image: url(imagens/ovo-e-pao-diferente.jpg);
    background-position: center right;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
}

section.imagem{
    background-color: #be6a25dc;
    padding-top: 5vh;
    padding-bottom: 5vh;
    line-height: 2em;
    
}

section > p{
    background-color: rgba(247, 242, 242, 0.849);
    color: black;
    font-weight: bolder;
    max-width: 1000px;
    margin: auto;
    
}

section#img01{
    background-image: url(imagens/rodape.png);
    background-position: center center;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
    
}


p
{
    text-align: justify;
    padding: 20px;
    
}

/* PRODUTOS  */
.grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  /* QUANTIDADE DE COLUNAS*/
    gap: 20px; /* DIVISÃO DAS COLUNAS*/ 
}

h3
{
    text-align: center;
    margin-bottom: 0px;
}

.paes
{
background-color: rgba(255, 255, 255, 0.74);
color: black;
border: 1px solid white;
place-self: center;
text-align: center;
}

.imagemProduto
{
    text-align: center;
}




.paragrafoPao
{
    text-align: justify;
    padding: 0px 5px;
}


.comprar
{
    display: inline-block;
    text-align: center;
    background: #be6b25;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition-duration: 1s;
    justify-self: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    
}
.comprar:hover
{
    text-decoration: underline;
    background: #531d0c;
}

div.map-responsive{
    overflow:hidden;
    padding-bottom:15%;
    position:relative;
    height:0;
}

div.map-responsive iframe{
    height:100%;
    width:100%;
    position:absolute;
}

div.endereco{
    padding: 30px;
}

div.endereco > p {
    margin: 2px;
    padding: 2px;
    
}

h2{
    text-align: center;
}

footer
{
    background-color: #531d0c;
    color: white;
    
}

section.footerAqui{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: white;
}

div.container{
    display: flex;
    gap: 100px;  
}
ul > a{
    text-decoration: none;
    color: white;
    
}


ul > a:hover{
    text-decoration: underline;
}

section.traco{
    border-bottom: 1px solid white;
    margin: 0 auto;
    text-align: center;
    max-width: 1200px;
    padding: 30px 0;
}

section.tracoCima{
    border-top: 1px solid white;
    margin: 0 auto;
    text-align: center;
    max-width: 1200px;
    padding: 30px 0;
}

section.tracoCima a{
    text-decoration: none;
    color: white;
}

section.tracoCima a:hover{
    text-decoration:underline yellow;

}

h3.nome-delicia{
    margin: 0px;
}


div.redes-sociais{
    width: 50px;
    margin: 5px;
    padding-top: 20px;
    display: inline-block;
}


footer h3{
    padding-bottom: 5px;
}

footer  p  a
{
    text-decoration: none;
    color: white;
}

footer  p  a:hover
{
    text-decoration: underline;
}

footer  p{
    font-size: 3px;
}

