@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Great+Vibes&display=swap');

:root
{
    --cor01: #be6b25;
    --corRodape: #531d0c;


    --fonteRopade: 'Great Vibes';

}


body
{
    background-color: #fcf0cb;
}

header
{
    color: white;
    background-image: url(rodape.png);
    background-size: cover;
    width: 100%;
    height: 600px;
    border-top-left-radius:5px;
    border-top-right-radius: 5px; 
}


/* NAV */
.rodape
{
    background-color: #be6b25;
    overflow: hidden;
    box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.74);
}

.rodape a
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    transition-duration: 1s;
    font-weight: bold;
}

.rodape a:hover
{
    text-decoration: underline;
    background-color: #531d0c;
}


footer
{
    background-color: #531d0c;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-left: -100px;
    margin-right: -100px;
    margin-bottom: -100px;
}

footer  p  a
{
    text-decoration: none;
    color: white;
}

footer  p  a:hover
{
    text-decoration: underline;
}

